*.o
/comskip
/comskip.exe
/comskip-gui
/comskip-gui.exe
/comskip.depend
/comskip.ini
/bin/
/build/
/vcpkg_installed/
*.obj
*.pdb
/ffmpeg/
/votest
/votest.exe
/commercial-length-test
/commercial-length-test.exe
/commercial-length-chinese-test
/commercial-length-chinese-test.exe
/*.dSYM

# Autotools stuff
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
configure~
depcomp
install-sh
missing
comskip.c.save-failed

# Eclipse IDE
.cproject
.project

# Python test artifacts
__pycache__/
*.pyc

# ACE tools code index
/.ace-index.db*
